<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="SakuraMacaron.OfficeAddIn.Excel" version="1.0.0-bata3" targetFramework="net461" />
  <package id="Surviveplus.RegularExpressionQuery" version="1.0.3-beta" targetFramework="net461" />
</packages>